<h1>{{title}}</h1>
<form action="/playlist" method="post">
	<input type="hidden" name="userid" value="{{userid}}"/>
	<label for="">My Playlists:</label><input type="submit" value="Get my Playlists"/>
</form>
<form action="/playlist" method="post">
	<label for="">Insert User ID:</label><input type="text" name="userid"/>
	<input type="submit" value="Get Playlists">
</form>