<noscript>
	You need to enable JavaScript to run this app.
</noscript>
<div id="root">
	<div class="container">
		<div class="py-5 text-center">
			<h1>Playlists to XLSX</h1>
			<p class="lead">Retrieve a list of tracks from Spotify in a .xslx file</p>
			<img id="spot-logo" src="/images/spotxlsx2.jpg" alt="application logo">
		</div>
		<div class="row">
			<div class="bg-light p-4 col-10 col-sm-8 col-md-6 col-lg-4 ml-auto ml-sm-auto ml-md-auto ml-lg-auto mr-auto mr-sm-auto mr-md-auto mr-lg-auto">
				<h2 class="mb-3 text-center">Login</h2>
				<p class="text-center">To begin, click on the button below.</p>
				<form id="myForm" action="/auth/spotify" method="get" class="">
					<div class="form-group">
						<button type="submit" id="btnDownload" class="btn btn-primary btn-md btn-block">Login to Spotify</button>
					</div>
				</form>
			</div>
		</div>
		<footer class="text-center"></footer>
	</div>
</div>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
